body{

  background-color:#BCDAEA;
      }


  #L{

    text-decoration: none;
    color:white;
    }


  p{
  
  color:white;

   }



  h1{
  font-family: 'Sora', sans-serif;
  font-size: 500%;
  color:white;

  
    }


  h2{
  
  font-size: 250%;
  color:white;

  
    }



  hr {

    width:730px;
    margin:0 auto;  

     }



  ul{

  display: inline;

    }



  li{

  color:white;
  display: inline;

    }



  li:not(:last-child) {
    
  padding-right: 55px;
                      }


  .updt{
  
  color:white;
  opacity:0.53;
}

 
.bg1 {
  /* The image used */
  background-image: url("2.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  /* The image used */
  background-image: url("3.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;
}
     
        